html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt, var, legend, fieldset {
  margin-bottom:0;
  margin-left:0;
  margin-right:0;
  margin-top:0;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}
img, fieldset {
  border-bottom-width:0;
  border-color:initial;
  border-left-width:0;
  border-right-width:0;
  border-style:initial;
  border-top-width:0;
}
header, hgroup, menu, nav, section, footer {
  display:block;
}


body{
	width:100%;
	height:100%;
	background:#0e0f27;
	color:#FFF;
}

#wrapper{
	top:50%;
	width: 831px;
	height: 550px;
	margin: 0px auto;	
}

p#anouncement{
	font-family: Calibri;
	color: #c8b090;
	text-align:right;
	font-size:24px;
	/* text-shadow:#CBB 1px 1px 0; */
}

#vk_like, #fb_root, #fb_like, iframe{
	float:left;
}